@import url('https://fonts.cdnfonts.com/css/avenir-lt-std');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Avenir LT Std', sans-serif;
}

.slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }

  .slick-prev {
    left: 0% !important;
    z-index: 1;
  }

  .slick-next {
    right: 0% !important;
    z-index: 1;
  }